:invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

body{
  background:#cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px 1px 1px 1px solid #ccc;
  font-size:20px;
  min-height:30px;
  display:block;  
}
#content{
  margin: 10px;
  padding: 10px;
  background:#cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  min-height:30px;
  display:block;}

form {
  margin-left: -20px;
  margin-right: -20px;
  background:#F8F8F8;
  padding: 20px;
  float: left;
  border: 5px solid; 
  border-color: #0000FF	;

}
textarea{
	width: 97%;
	min-height: 100px;
	border: 3px solid #0000FF;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-color: #FFFFFF;
	font-size:20px;

}
select.inl{
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  /*width:300px; */
  min-height:30px;
  display:inline;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

select,input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  /*width:300px; */
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}

input[type=radio], input[type=time]{
  background:none;
  padding:10px;
  display:inline;
  width: 60px;
}

input[type=number]{
	background:none;
	width: 50px;
}
input[type=checkbox]{
	background:none;
        display:inline;
        margin-top:-3px;
        padding:0px;
}

input[type=submit]{
	background:#cccccc; 
        text-align:center;
        margin-left: auto;   
        margin-right: auto; 
}
h3{
        margin-bottom: 1px;
}

h2{
         background:#cccccc; 
         margin-left: auto;   
        margin-right: auto; }

